<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bloomall.mappers.OrderMapper">

	<!-- 주문코드 시퀀스 -->
	<select id="getOrderCode" resultType="int">
		select seq_ord_idx.nextval from dual
	</select>

	<!-- 회원 포인트 적립 -->
	<update id="updatePoint" parameterType="Map">
		update member_tb set mem_point= mem_point + #{mem_point}
		where mem_id=#{mem_id}
	</update>
	

	<!-- 주문내역 추가(주문상세테이블) -->
	<insert id="addOrderDetailInfo" parameterType="OrderDetailVO">
		insert into ord_detail_tb(ord_idx, prd_idx, ord_amount, ord_price)
    		values(#{ord_idx}, #{prd_idx}, #{ord_amount}, #{ord_price})
	</insert>

	
	<!-- 주문정보 추가(주문테이블) -->
	<insert id="addOrderInfo" parameterType="OrderVO">
		insert into order_tb(ord_idx, mem_id, ord_recp_name, ord_recp_zip, ord_recp_addr,
							 ord_recp_addr_d, ord_recp_tel, ord_tot_price, ord_date)
    		values(#{ord_idx},#{mem_id},#{ord_recp_name},#{ord_recp_zip},#{ord_recp_addr},
    			   #{ord_recp_addr_d},#{ord_recp_tel},#{ord_tot_price}, sysdate)
	</insert>
	
	
	<!-- 주문내역리스트 (OrderHistoryVO) -->
	<select id="orderHistoryList" resultType="OrderHistoryVO" parameterType="Map">
		select ord_idx, prd_title, prd_price, ord_tot_price, ord_amount, mem_id, ord_recp_name, ord_date
		from (select o.ord_idx, p.prd_title, p.prd_price, o.ord_tot_price, d.ord_amount, o.mem_id, o.ord_recp_name, o.ord_date,
		             row_number() over(order by o.ord_idx desc) o_seq
		        from order_tb o inner join ord_detail_tb d
		            on o.ord_idx = d.ord_idx
		        inner join product_tb p
		            on p.prd_idx = d.prd_idx
		        where o.mem_id=#{mem_id}
		        order by o.ord_idx desc, d.prd_idx desc
		        )
		where o_seq between #{cri.rowStart} and #{cri.rowEnd}
	</select>
	
	<!-- 주문내역 개수 가져오기 -->
	<select id="orderCount" resultType="int" parameterType="String">
		select count(ord_idx)
		from order_tb
		where mem_id=#{mem_id}
	</select>
	
	
	<!-- 주문 상세 내역 (OrderHistoryDetailVO) -->
	<select id="orderHistoryDetail" resultType="OrderHistoryDetailVO" parameterType="int">
		select o.ord_idx, d.prd_idx, p.prd_title, p.prd_img, p.prd_price, d.ord_amount, d.ord_price
		from order_tb o inner join ord_detail_tb d
		    on o.ord_idx = d.ord_idx
		inner join product_tb p
		    on p.prd_idx = d.prd_idx
		where o.ord_idx=#{ord_idx}
		order by d.prd_idx desc
	</select>
	
	
	<!-- 주문자 정보(주문테이블) -->
	<select id="recipientInfo" resultType="OrderVO" parameterType="int">
		select ord_idx, mem_id, ord_recp_name, ord_recp_zip, ord_recp_addr, ord_recp_addr_d,
			   ord_recp_tel, ord_tot_price, ord_date
		from order_tb
		where ord_idx = #{ord_idx}
	</select>
	
	
	
	
</mapper>